<div class="p-4 sm:p-6 lg:p-8 bg-gray-900 min-h-screen">
  <!-- Page Info -->
  <div class="flex justify-between mb-6">
    <h1 class="text-2xl sm:text-3xl font-bold text-gray-100">Position List</h1>

    <button
      class="font-semibold text-gray-100 p-2 rounded-lg transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none cursor-pointer bg-green-500 hover:bg-green-700"
      (click)="openPositionForm('Add')"
    >
      Add New Position
    </button>
  </div>

  <!-- Filter -->
  <div class="mb-4 p-4 bg-gray-800 rounded-lg shadow-md">
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 gap-4 items-end">
      <div>
        <label for="nameFilter" class="block text-sm font-medium text-gray-300"
          >Filter by Name</label
        >
        <input
          type="text"
          id="nameFilter"
          placeholder="Search by name..."
          class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md text-sm shadow-sm placeholder-gray-400 text-gray-200 focus:outline-none focus:ring-sky-500 focus:border-sky-500"
          [formControl]="nameForm"
        />
      </div>
      <div>
        <label for="nameFilter" class="block text-sm font-medium text-gray-300"
          >Filter by Position</label
        >
        <input
          type="text"
          id="nameFilter"
          placeholder="Search by position..."
          class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-600 rounded-md text-sm shadow-sm placeholder-gray-400 text-gray-200 focus:outline-none focus:ring-sky-500 focus:border-sky-500"
          [formControl]="codeForm"
        />
      </div>
      <div>
        <label for="getPageSize()" class="block text-sm font-medium text-gray-300"
          >Items per Page</label
        >
        <select
          id="getPageSize()"
          class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-600 bg-gray-700 text-gray-200 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm rounded-md"
          [formControl]="pageSizeForm"
        >
          @for (size of pageSizeList; track $index) {
          <option [value]="size">{{ size }}</option>
          }
        </select>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="bg-gray-800 shadow-md rounded-lg overflow-hidden">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-700">
        <!-- Table Head -->
        <thead class="bg-gray-700">
          <tr>
            @for (header of tableHeaderList; track $index) {
            <th
              scope="col"
              class="px-6 py-3 text-xs font-medium text-gray-300 uppercase tracking-wider select-none"
            >
              <div
                class="cursor-default flex items-center"
                [ngClass]="{
                  'justify-end': header.isAction
                }"
                (click)="sortTable(header.sortColumn, header.isSortable)"
              >
                <span>
                  {{ header.value }}
                </span>
                <div>
                  @if (sortingColumn == header.sortColumn) {
                    @if (isSortByDesc) {
                      <img src="assets/svg/arrow_down.svg" />
                    } @else {
                      <img src="assets/svg/arrow_up.svg" />
                    } 
                  }
                </div>
              </div>
            </th>
            }
          </tr>
        </thead>
        <!-- Table Body -->
        <tbody class="bg-gray-800 divide-y divide-gray-700">
          @for (position of positions; track $index) {
          <tr class="hover:bg-gray-700/50 transition-colors duration-200">
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-100">
                {{ position.PositionName }}
              </div>
            </td>

            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-200">{{ position.PositionCode }}</div>
            </td>

            <td
              class="flex justify-end gap-2 px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
            >
              <button
                (click)="deletePosition(position.username)"
                class="font-semibold text-gray-100 p-2 rounded-lg transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none cursor-pointer bg-red-500 hover:bg-red-700"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <div class="px-4 py-3 flex items-center justify-between border-t border-gray-700 sm:px-6">
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
          <p class="text-sm text-gray-400">
            Page
            <span class="font-medium">{{ pageIndex }}</span>
            of
            <span class="font-medium">{{ totalPages }}</span>
          </p>
        </div>
        <div>
          <nav
            class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px"
            aria-label="Pagination"
          >
            <button
              (click)="changePage(pageIndex - 1)"
              [disabled]="pageIndex === 1"
              class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-600 bg-gray-800 text-sm font-medium text-gray-300 hover:bg-gray-700 disabled:opacity-50 disabled:cursor-not-allowed"
            >
              <img class="h-5 w-5" src="assets/svg/left_chevron.svg" />
            </button>
            <button
              (click)="changePage(pageIndex + 1)"
              [disabled]="pageIndex === totalPages"
              class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-600 bg-gray-800 text-sm font-medium text-gray-300 hover:bg-gray-700 disabled:opacity-50 disabled:cursor-not-allowed"
            >
              <img class="h-5 w-5" src="assets/svg/right_chevron.svg" />
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>